body {
    margin:0;
    font-family: 'Gowun Batang', serif;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;   
}

.navbar {
    width:200px;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 50px;
    overflow-y: auto;

}

.navbar__logo{
    font-size:24px;
    color: white;
    padding: 10%;
}

.navbar__menu{
    list-style: none;
    margin: 10%;
    padding: 0%;
}

.navbar__menu li{
    background-color: gray;
    color: black;
    display: block;
    padding:20px;
    text-decoration: none;
}

.navbar__menu li:hover {
    background-color: black;
    border-radius: 4px;

}
.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding:20% 35%;
}

.navbar__icons li{
    padding: 8px 12px;
}

@media screen and (max-width: 500px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        flex-direction: column;
        align-items:center;
        width:100%;
    }
}